apiVersion: v1
kind: DeploymentConfig
metadata:
  name: kube-state-metrics
  namespace: {{ namespace }}
spec:
  selector:
      app: kube-state-metrics
  replicas: 1
  template:
    metadata:
      labels:
        app: kube-state-metrics
    spec:
      serviceAccountName: kube-state-metrics
      containers:
      - name: kube-state-metrics
        image: {{ l_openshift_prometheus_image_prefix }}kube-state-metrics:{{ l_openshift_kube_state_metrics_image_version }}
        command: ["/kube-state-metrics"]
        args: ["--port=8080","--telemetry-port=8181"]
        resources:
          limits:
            cpu: 1000m
            memory: 128Mi
          requests:
            cpu: 300m
            memory: 128Mi
        ports:
        - name: http-metrics
          containerPort: 8080
        readinessProbe:
          httpGet:
            path: /healthz
            port: 8080
          initialDelaySeconds: 5
          timeoutSeconds: 5