global_defs {
  notification_email {
    michael.morello@gmail.com
  }
  notification_email_from michael.morello@gmail.com
    smtp_server 10.1.1.1
    smtp_connect_timeout 30
}

vrrp_script chk_oomasterscript {
  script       "/etc/keepalived/check_openshift_master.sh"
  interval 2   # check every 2 seconds
  fall 2       # require 2 failures for KO
  rise 2       # require 2 successes for OK
}
 
vrrp_instance VI_OO_1 {
  # We don't own the IP address, which allows manual triggering of IP change when machine comes UP
  # see man keepalived.conf.
  state BACKUP
  priority {{ vrrp_priority }}
  nopreempt
 
  interface eth0
  virtual_router_id 255
  advert_int 5
  smtp_alert
  virtual_ipaddress {
        192.168.124.10/24 brd 192.168.124.255 dev eth0 scope global
  }
  track_script {
    chk_oomasterscript
  }
}
